.wrapper{
    position: fixed;
    top:0;
    bottom: 0;
    margin-left: -18px;
    width: 356px;
    margin-top: var(--default-layout-header-height);
    background-color: var(--white-color);
    padding: 20px 0px 26px 8px;
    overflow-y: scroll;
    &:not(:hover)::-webkit-scrollbar-thumb {
        background: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: var(--background-gray-color-06);
    }
    &.shink {
        width: 240px;
    }
}
.login {
    padding: 20px 8px 24px 8px;
    border-top: 1px solid var(--background-gray-color-12);
    margin-top: 8px;
}
.tip {
    color: var(--text-gray-color2);
    font-size: 16px;
    line-height: 22px
}
.login-sidebar {
    width: 100% ;
    margin-top: 20px;
}
.discover {
    width: 100%;
    padding: 16px 8px 8px;
    border-top: 1px solid var(--background-gray-color-12);

    .discover-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .hastag {
        display: flex;
        width: fit-content;
        max-width: 100%;
        height: 24px;
        margin-bottom: 12px;
        padding: 3px 10px;
        border: 1px solid rgba(22, 24, 35, 0.2);
        border-radius: 12px;
        background-color: var(--white-color-2);
        transition: background-color 200ms ease-in-out 0s;
        margin-right: 8px;

        &:hover {
            background-color: var(--background-gray-color-03);
            cursor: pointer;
        }
    }
    .discover-icon {
        flex-shrink: 0;
        color: var(--text-primary-color);
    }
    .hastag-name {
        color: var(--text-gray-color);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        padding-left: 6px;
    }
}
.title {
    color: var(--text-gray-color);
    margin-bottom: 8px;
    font-size: 1.4rem;
    line-height: 2rem;
}
.footer {
    border-top: 1px solid var(--background-gray-color-12);
    line-height: 1.7rem;
    padding-left: 8px;
    padding-top: 16px;
}
.footer-link {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    width: 100%;
    
    a {
        font-size: 1.2rem;
        line-height: 1.7rem;
        font-weight: 600;
        color: var(--text-gray-color2);
        margin-right: 6px;
        margin-top: 5px;
    }
}
.copy-right {
    color: rgba(22, 24, 35, .5);
    font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
}
